@media (max-width:640px) {
    html{
        font-size: calc(100vw / 320);
    }

    .desk{
        display: none;
    }
    .mob{
        display: flex;
    }
    body{
        font-family: 'Adora';
        max-width: 320rem;
        background: #FDEEE2;
        margin: 0 auto;
    }
    .container{
        width: 100%;
        max-width: 280rem;
        margin: 0 auto;
    }

    .about {
        width: 100%;
        margin-top: 32.5rem;
        padding-bottom: 78rem;
        &__body {
            display: flex;
            flex-direction: column;
            gap: 32rem;
            &-title {
                font-family: 'Song-Reg';
                font-size: 28rem;
                font-weight: 400;
                line-height: 33rem;
                text-align: left;
                color: #3A3232;
            }
            p {
                font-size: 12rem;
                font-weight: 300;
                line-height: 14rem;
                text-align: left;
                color: #3A3232;
            }
            &-img{
                width: 100%;
                height: 103rem;
            }
        }
    }

    .cash{
        width: 100%;
        padding: 32.5rem 0rem 60rem 0rem;
        background: #415D51;
        &__body{
            display: flex;
            flex-direction: column;
            &-title{
                font-family: 'Song-Reg';
                font-size: 28rem;
                font-weight: 400;
                line-height: 33rem;
                text-align: left;
                color: #F4F9F2;
            }
            &-desc{
                font-size: 12rem;
                font-weight: 300;
                line-height: 14rem;
                text-align: left;
                color: #F4F9F2;
                margin-top: 16rem;
            }
            &-softtitle{
                font-family: 'Song-Reg';
                font-size: 20rem;
                font-weight: 400;
                line-height: 24rem;
                text-align: left;
                color: #F4F9F2;
                margin-top: 28rem;
            }
            &-place{
                display: flex;
                gap: 10rem;
                margin-top: 16rem;
                img:nth-child(1){
                    width: 73rem;
                    height: 150rem;
                }
                &-wrap{
                    display: none;
                }
                p{
                    font-size: 11rem;
                    font-weight: 300;
                    line-height: 14rem;
                    text-align: left;
                    color: #F4F9F2;
                }
            }
            &-size{
                display: flex;
                flex-direction: column;

                gap: 12rem;
                margin-top: 16rem;
                img{
                    width: 280rem;
                    height: 81rem;
                    order: -1;
                }
                p{
                    font-size: 12rem;
                    font-weight: 300;
                    line-height: 14rem;
                    text-align: left;
                    color: #F4F9F2;
                    max-width: 280rem;
                }
            }
            &-if{
                display: flex;
                flex-direction: column;
                gap: 20rem;
                margin-top: 28rem;
                z-index: 5;
                padding-left: 15rem;
                li{
                    font-size: 12rem;
                    font-weight: 300;
                    line-height: 14rem;
                    text-align: left;
                    color: #F4F9F2;
                    position: relative;
                    z-index: 5;
                }
                li::marker{
                    position: absolute;
                    z-index: 2;
                }
                li:after{
                    background: url(../images/dist/if__mark.png) center no-repeat;
                    background-size: cover;
                    content: '';
                    position: absolute;
                    width: 58rem;
                    height: 37.7rem;
                    left: -27rem;
                    top: -16rem;
                    z-index: -1;
                }
            }
            &-wrap{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                &-btn{
                    width: 100%;
                    background: #D65C1B;
                    border-radius: 10rem;
                    font-size: 14rem;
                    font-style: italic;
                    font-weight: 300;
                    line-height: 16rem;
                    text-align: left;
                    color: #F4F9F2;
                    height: 35rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 36rem;
                }
            }
        }
    }
    .footer {
        width: 100%;
        padding-top: 0rem;
        background: #415D51;
        padding-bottom: 20.5rem;
        &__body {
            display: flex;
            width: 100%;
            justify-content: center;
            flex-wrap: wrap;
            align-items: flex-end;
            align-items: flex-end;
            gap: 67rem;
            &-info {
                display: flex;
                flex-direction: column;
                gap: 17rem;
                &-logo {
                    width: 49rem;
                    height: 58.5rem;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                &-copy {
                    display: flex;
                    flex-direction: column;
                    gap: 4rem;
                    span {
                        font-size: 8rem;
                        font-style: italic;
                        font-weight: 300;
                        line-height: 9.5rem;
                        text-align: left;
                        color: #f4f9f2;
                        max-width: 151rem;
                    }
                }
            }
            &-menu {
                &-list {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    gap: 8rem;
                    li {
                        font-size: 10rem;
                        font-style: italic;
                        font-weight: 300;
                        line-height: 11.01rem;
                        text-align: left;
                        color: #f4f9f2;
                    }
                }
            }
            &-contact {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 16rem;
                &-links {
                    display: flex;
                    flex-direction: column;
                    gap: 3rem;
                    a {
                        font-size: 12rem;
                        font-style: italic;
                        font-weight: 300;
                        line-height: 14.01rem;
                        text-align: right;
                        color: #f4f9f2;
                    }
                }
                &-address{
                    font-size: 10rem;
                    font-style: italic;
                    font-weight: 300;
                    line-height: 11.01rem;
                    text-align: center;
                    color: #f4f9f2;
                }
            }
        }
    }

    .header{
        width: 100%;
        padding-top: 20rem;
        overflow: hidden;
        position: relative;
        &__body{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            &-logo{
                width: 49rem;
                height: 58.5rem;
                transition: all 0.3s ease;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            &-menu{
                position: absolute;
                transition: all 0.3s ease;
                translate: 0 -500%;
                &-list{
                    display: flex;
                    align-items: center;
                    gap: 10rem;
                    &-item{
                        font-size: 10rem;
                        font-style: italic;
                        font-weight: 300;
                        line-height: 11rem;
                        text-align: left;
                        color: #f4f9f2;
                    }
                }
            }
            .burger{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                width: 24rem;
                height: 14.67rem;
                background: transparent;
                span{
                    width: 100%;
                    height: 1rem;
                    background: #f4f9f2;
                    transition: all 0.3s ease;
                }
                span:nth-child(2){
                    width: 16rem;
                }
            }
            .burger.active{
                span:nth-child(1){
                    translate: 0rem 5rem;
                    rotate: 45deg;
                }
                span:nth-child(3){
                    translate: 0rem -8rem;
                    rotate: -45deg;
                }
                span:nth-child(2){
                    display: none;
                }
            }
        }
    }
    
    .header.green{
        background: #415D51 !important;
    }


    .wrapper.green{
        background: #415D51;
    }
    
    .wrapper{
        min-height: 100vh;
        width: 100%;
        position: relative;
        .footer{
            position: absolute;
            bottom: 0;
        }
        .footer-black{
            position: absolute;
            bottom: 0;
        }
    }
    
    .links{
        width: 100%;
        padding: 32.5rem 0rem 56rem 0rem;
        &__body{
            display: flex;
            flex-direction: column;
            &-title{
                font-family: 'Song-Reg';
                font-size: 28rem;
                font-weight: 400;
                line-height: 33.6rem;
                text-align: left;
                color: #3A3232;
                margin-bottom: 16rem;
            }
            &-desc{
                font-size: 12rem;
                font-style: italic;
                font-weight: 300;
                line-height: 14rem;
                text-align: left;
                color: #3A3232;
                margin-top: 8rem
            }
            &-tel{
                display: flex;
                gap: 8rem;
                margin-top: 28rem;
                margin-bottom: 20rem;
                &-span{
                    font-size: 12rem;
                    font-style: italic;
                    font-weight: 300;
                    line-height: 14.4rem;
                    text-align: left;
                    color: #3A3232;
                }
                &-items{
                    display: flex;
                    flex-direction: column;
                    gap: 20rem;
                    p{
                        font-size: 12rem;
                        font-style: italic;
                        font-weight: 300;
                        line-height: 14.4rem;
                        text-align: left;
                        color: #3A3232;
                        span{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }


    .main__wrapper{
        width: 100%;
        position: relative;
        padding-bottom: 118rem;
        &-img{
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
        }
    }
    .main{
        width: 100%;
        margin-top: 100rem;
        &__body{
            display: flex;
            flex-direction: column;
            &-top{
                display: flex;
                justify-content: space-between;
                &-title{
                    font-size: 44rem;
                    font-weight: 400;
                    line-height: 58rem;
                    letter-spacing: -0.0125em;
                    text-align: left;
                    font-family: 'Song-Reg';
                    color: #F4F9F2;
                }
                &-btn{
                    padding: 7rem 6rem 6rem 6rem ;
                    background: #D65C1B;
                    border-radius: 10rem;
                    font-size: 10rem;
                    font-style: italic;
                    font-weight: 300;
                    line-height: 12rem;
                    text-align: left;
                    color: #F4F9F2;
                    max-height: 25rem;
                }
            }
            span{
                font-size: 42rem;
                font-weight: 400;
                line-height: 50rem;
                letter-spacing: -0.0125em;
                text-align: left;
                font-family: 'Song-Reg';
                color: #F4F9F2;
            }
            p{
                font-size: 14rem;
                font-style: italic;
                font-weight: 300;
                line-height: 16rem;
                text-align: left;
                color: #F4F9F2;
                max-width: 242rem;
                margin-top: 70rem;
            }
        }
    }
    .price{
        width: 100%;
        position: relative;
        padding-top: 42rem;
        &__back{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
        &__img{
            margin-top: 40rem;
            width: 100%;
            height: 88rem;
        }
        &__body{
            display: flex;
            flex-direction: column;
            gap: 28rem;
            width: 100%;
            &-text{
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                gap: 20rem;
                width: 100%;
                p{
                    font-size: 12rem;
                    font-style: italic;
                    font-weight: 300;
                    line-height: 14.4rem;
                    text-align: left;
                    color: #3A3232;
                    max-width: 280rem;
                }
            }
            &-info{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 28rem;
                width: 100%;
                &-btn{
                    padding: 10rem 37rem ;
                    background: #D65C1B;
                    border-radius: 10rem;
                    font-size: 14rem;
                    font-style: italic;
                    font-weight: 300;
                    line-height: 19rem;
                    text-align: left;
                    color: #F4F9F2;
                    max-height: 40rem;
                    margin-top: 36rem;
                }
                p{
                    font-size: 14rem;
                    font-style: italic;
                    font-weight: 300;
                    line-height: 16rem;
                    text-align: center;
                    color: #3A3232;
                    max-width: 280rem;
                }
            }
        }
    }
    .project{
        width: 100%;
        margin-top: 40rem;
        padding-bottom: 44rem;
        &__body{
            display: flex;
            flex-direction: column;
            &-title{
                font-size: 28rem;
                font-weight: 400;
                line-height: 33rem;
                text-align: left;
                color: #415D51;
                font-family: 'Song-Reg';
            }
            .splide{
                margin-top: 24rem;
                .splide__slide{
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 10rem;
                    width: 280rem !important;
                    .project__img-large{
                        width: 280rem;
                        height: 66rem;
                    }
                    .project__img-short{
                        width: 135rem;
                        height: 70rem;
                    }
                    .project__desc{
                        font-size: 8rem;
                        font-weight: 300;
                        line-height: 10rem;
                        text-align: left;
                        color: #3A3232;
                        max-width: 135rem;
                    }
                }
                .splide__arrow{
                    opacity: 1;
                    width: 25rem;
                    height: 25rem;
                    background: #FDEEE2;
                    svg{
                        width: 11rem;
                        height: 6rem;
                    }
                }
                .splide__arrow--next{
                    right: -15rem;
                    box-shadow: 2rem 2rem 15rem 0rem rgba(23, 23, 77, 0.1);
                }
                .splide__arrow--prev{
                    left: -15rem;
                    box-shadow: 2rem 2rem 15rem 0rem rgba(23, 23, 77, 0.1);
                }
                .splide__arrow:hover{
                    opacity: 1;
                    
                }
            }
            &-desc{
                font-size: 12rem;
                font-weight: 300;
                line-height: 14.4rem;
                text-align: left;
                color: #3A3232;
                max-width: 280rem;
                margin-top: 16rem;
            }
            &-wrap{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                width: 100%;
                &-btn{
                    width: auto;
                    background: #D65C1B;
                    border-radius: 10rem;
                    font-size: 12rem;
                    font-style: italic;
                    font-weight: 300;
                    line-height: 14rem;
                    text-align: left;
                    color: #F4F9F2;
                    height: 30rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 16rem;
                    width: 206rem;
                }
            }
        }
    }
    
    .contact{
        width: 100%;
        background: #415D51;
        padding-top: 40rem;
        padding-bottom: 60rem;
        &__body{
            display: flex;
            flex-direction: column;
            gap: 20rem;
            &-title{
                font-size: 28rem;
                font-weight: 400;
                line-height: 33rem;
                letter-spacing: -0.0125em;
                text-align: right;
                width: 100%;
                font-family: 'Song-Reg';
                color: #F4F9F2;
            }
            &-start{
                display: flex;
                flex-direction: column;
                gap: 12rem;
                p{
                    font-size: 14rem;
                    font-style: italic;
                    font-weight: 300;
                    line-height: 16rem;
                    text-align: left;
                    color: #F4F9F2;
                }
                span{
                    font-size: 24rem;
                    font-style: italic;
                    font-weight: 300;
                    line-height: 28rem;
                    text-align: left;
                    color: #F4F9F2;
                    position: relative;
                    max-width: 127rem;
                }
                span:after{
                    position: absolute;
                    width: 100%;
                    content: '';
                    width: 100%;
                    height: 1rem;
                    background: #F4F9F2;
                    bottom: 0rem;
                    left: 0;
                }
            }
            &-info{
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                gap: 28rem;
                width: 100%;
                &-item{
                    display: flex;
                    flex-direction: column;
                    gap: 12rem;
                    span{
                        font-size: 12rem;
                        font-style: italic;
                        font-weight: 300;
                        line-height: 14rem;
                        text-align: left;
                        color: #F4F9F2;
                        margin-bottom: 12rem;
                    }
                    p{
                        font-size: 12rem;
                        font-style: italic;
                        font-weight: 300;
                        line-height: 14rem;
                        text-align: left;
                        color: #F4F9F2;
                    }
                }
            }
        }
    }


    .photo {
        width: 100%;
        margin-top: 32.5rem;
        padding-bottom: 60rem;
        &__body {
            display: flex;
            flex-direction: column;
            gap: 20rem;
            &-title {
                font-family: 'Song-Reg';
                font-size: 28rem;
                font-weight: 400;
                line-height: 33rem;
                text-align: left;
                color: #3A3232;
            }
            p {
                font-size: 12rem;
                font-weight: 300;
                line-height: 14rem;
                text-align: left;
                color: #3A3232;
            }
            &-block{
                display: flex;
                flex-wrap: wrap;
                gap: 10rem;
                .type__one{
                    width: 135rem;
                    height: 122rem;
                }
                .type__two{
                    width: 73rem;
                    height: 122rem;
                }
                .type__two:nth-child(7){
                    width: 208rem;
                    height: 122rem;
                }
                .type__one:nth-child(8){
                    width: 62rem;
                    height: 122rem;
                }
                .type__three{
                    width: 197rem;
                    height: 122rem;
                }
                .type__four{
                    width: 135rem;
                    height: 122rem;
                }
                .type__one-wrap{
                    width: 135rem;
                    height: 122rem;
                    display: flex;
                    flex-direction: column;
                    gap: 8rem;
                    img{
                        width: 100%;
                    }
                    img:nth-child(1){
                        height: 45rem;
                    }
                    img:nth-child(2){
                        height: 69rem;
                    }
                }
                .type__two-wrap{
                    width: 135rem;
                    height: 122rem;
                    display: flex;
                    flex-direction: column;
                    gap: 8rem;
                    img{
                        width: 100%;
                    }
                    img:nth-child(1){
                        height: 58rem;
                    }
                    img:nth-child(2){
                        height: 56rem;
                    }
                }
            }
            &-wrap{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                width: 100%;
                &-btn{
                    width: 207rem;
                    background: #D65C1B;
                    border-radius: 10rem;
                    font-size: 14rem;
                    font-style: italic;
                    font-weight: 300;
                    line-height: 16rem;
                    text-align: left;
                    color: #F4F9F2;
                    height: 35rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }


    .video {
        width: 100%;
        background: #415D51;
        padding-top: 32.5rem;
        padding-bottom: 60rem;
        &__body {
            display: flex;
            flex-direction: column;
            gap: 16rem;
            &-title {
                font-family: 'Song-Reg';
                font-size: 28rem;
                font-weight: 400;
                line-height: 33rem;
                text-align: left;
                color: #F4F9F2;
            }
            &-block{
                display: flex;
                flex-wrap: nowrap;
                flex-direction: column;
                gap: 20rem;
                &-item{
                    width: 280rem;
                    display: flex;
                    flex-direction: column;
                    gap: 12rem;
                    &-wrap{
                        width: 100%;
                        position: relative;
                        height: 120rem;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                        &-icon{
                            width: 24rem;
                            height: 24rem;
                            position: absolute;
                            top: 12rem;
                            right: 12rem;
                        }
                    }
                    span{
                        font-size: 12rem;
                        font-weight: 300;
                        line-height: 14rem;
                        text-align: left;
                        color: #F4F9F2;
                    }
                }
            }
        }
    }

    
    .header-black{
        width: 100%;
        padding-top: 20rem;
        overflow: hidden;
        position: relative;
        &__body{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            &-logo{
                width: 49rem;
                height: 58.5rem;
                transition: all 0.3s ease;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            &-menu{
                position: absolute;
                transition: all 0.3s ease;
                translate: 0 -500%;
                &-list{
                    display: flex;
                    align-items: center;
                    gap: 10rem;
                    &-item{
                        font-size: 10rem;
                        font-style: italic;
                        font-weight: 300;
                        line-height: 11rem;
                        text-align: left;
                        color: #3A3232;
                    }
                }
            }
            .burger{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                width: 24rem;
                height: 14.67rem;
                background: transparent;
                span{
                    width: 100%;
                    height: 1rem;
                    background: #3A3232;
                    transition: all 0.3s ease;
                }
                span:nth-child(2){
                    width: 16rem;
                }
            }
            .burger.active{
                span:nth-child(1){
                    translate: 0rem 5rem;
                    rotate: 45deg;
                }
                span:nth-child(3){
                    translate: 0rem -8rem;
                    rotate: -45deg;
                }
                span:nth-child(2){
                    display: none;
                }
            }
        }
    }
    .header-black.active{
        .header-black__body-logo{
            translate: -200% 0;
        }
        .header-black__body-menu{
            translate: 0 0;
        }
    }
    .header.active{
        .header__body-logo{
            translate: -200% 0;
        }
        .header__body-menu{
            translate: 0 0;
        }
    }
    .footer-black {
        width: 100%;
        padding-top: 0rem;
        background: transparent;
        padding-bottom: 20.5rem;
        &__body {
            display: flex;
            width: 100%;
            justify-content: center;
            flex-wrap: wrap;
            align-items: flex-end;
            align-items: flex-end;
            gap: 67rem;
            &-info {
                display: flex;
                flex-direction: column;
                gap: 17rem;
                &-logo {
                    width: 49rem;
                    height: 58.5rem;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                &-copy {
                    display: flex;
                    flex-direction: column;
                    gap: 4rem;
                    span {
                        font-size: 8rem;
                        font-style: italic;
                        font-weight: 300;
                        line-height: 9.5rem;
                        text-align: left;
                        color: #3A3232;
                        max-width: 151rem;
                    }
                }
            }
            &-menu {
                &-list {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    gap: 8rem;
                    li {
                        font-size: 10rem;
                        font-style: italic;
                        font-weight: 300;
                        line-height: 11.01rem;
                        text-align: left;
                        color: #3A3232;
                    }
                }
            }
            &-contact {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 16rem;
                &-links {
                    display: flex;
                    flex-direction: column;
                    gap: 3rem;
                    a {
                        font-size: 12rem;
                        font-style: italic;
                        font-weight: 300;
                        line-height: 14.01rem;
                        text-align: right;
                        color: #3A3232;
                    }
                }
                &-address{
                    font-size: 10rem;
                    font-style: italic;
                    font-weight: 300;
                    line-height: 11.01rem;
                    text-align: center;
                    color: #3A3232;
                }
            }
        }
    }
}