<section class="contact">
    <div class="container">
        <div class="contact__body">
            <h2 class="contact__body-title">
                Контакты
            </h2>
            <div class="contact__body-start">
                <p>Адрес офиса в Екатеринбурге - ул. Шофёров, 11, офис 7</p>
                <span>9:00 - 18:00</span>
            </div>
            <div class="contact__body-info">
                <div class="contact__body-info-item">
                    <span>Для связи с нами можете воспользоваться звонком:</span>
                    <p><a href="">+7 (343) 286-81-25</a> - телефон по Екатеринбургу</p>
                    <p><a href="">+7 (982) 668-02-66</a> - дилерский отдел</p>
                    <p><a href="">+7 (982) 668-20-88</a> - Евгений Козлов, инженер</p>
                </div>
                <div class="contact__body-info-item">
                    <span>Или письмом на почту:</span>
                    <p><a href="">RVA@rva-ural.ru</a></p>
                </div>
            </div>
        </div>
    </div>
</section>