<header class="header-black">
    <div class="container">
        <div class="header-black__body">
            <a href="" class="header-black__body-logo">
                <img src="../images/dist/logo__black.png" alt="">
            </a>
            <nav class="header-black__body-menu">
                <ul class="header-black__body-menu-list">
                    <li class="header-black__body-menu-list-item">
                        <a href="">О нас</a>
                    </li>
                    <li class="header-black__body-menu-list-item">
                        <a href="">Фотоальбом</a>
                    </li>
                    <li class="header-black__body-menu-list-item">
                        <a href="">Видео</a>
                    </li>
                    <li class="header-black__body-menu-list-item">
                        <a href="">Расчёты</a>
                    </li>
                    <li class="header-black__body-menu-list-item">
                        <a href="">Контакты</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>