<main class="main">
    <div class="container">
        <div class="main__body">
            <div class="main__body-top">
                <h1 class="main__body-top-title">
                    строим
                </h1>
                <button class="main__body-top-btn">
                    Узнать о нас больше
                </button>
            </div>
            <span>
                мосты для вас
            </span>
            <p>Проектирование, производство и монтаж подвесных мостов по всей России</p>
        </div>
    </div>
</main>