<section class="price">
    <img class="price__back" src="../images/dist/price__back.png" alt="">
    <div class="container">
        <div class="price__body">
            <div class="price__body-text">
                <p>Каждый наш мост является уникальным результатом расчётов, проектирования и производства команды профессиональных технологов. Главные качества «Подвесного моста» - надёжность и опыт, позволяющие выполнять все виды работ качественно и в срок.</p>
                <p>Мы используем современные технологии и материалы для уникальных решений и стремимся не только удовлетворить потребности клиентов, но и внести вклад в развитие инфраструктуры. Наша миссия - помогать людям и обеспечивать прочные связи на долгие годы. </p>
            </div>
            <div class="price__body-info">
                <button class="price__body-info-btn">
                    Как мы проводим расчёты?
                </button>
                <p>«Подвесной мост» — это ваш надёжный партнёр в мире мостостроения!</p>
            </div>
        </div>
    </div>
    <img src="../images/dist/price__img.png" alt="" class="price__img">
</section>